.header {
  padding: 10px 0;
  background-color: #646cff;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 380px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
}

.searchInput {
  width: 300px;
  padding-left: 20px;
  padding: 12px 0 12px 20px;
  border: transparent;
  outline: transparent;
  border-radius: 8px;
}

.btn {
  font-size: 16px;
  color: #757575;
  background-color: #ffffff;
}

.btn:hover {
  font-size: 18px;
  color: #3942f3;
}
