.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  width: calc((100% - 60px) / 4);
  background-color: rgb(248, 251, 250);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
